* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* #region common */
a {
    text-decoration: none;
}

#site_header {
    background-color: black;
    height: 80px;
}

#site_main {
    background-color: black;
}

#site_footer {
    height: 100px;
    background-color: #222222;
    color: white;
}

/* #endregion common */

/* #region utilities */
.d_flex {
    display: flex;
}

.h_100 {
    height: 100%;
}

.green {
    color: #4bc800;
}

.align_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}

.container {
    width: 90%;
    margin: auto;
}

/* #endregion utilities */

/* #region header */

.btn_head {
    padding: 0.2rem 0.5rem;
    background-color: #4a4a4a;
    border-radius: 0.5rem;
    color: white;
    font-size: 14px;
}

.btn_head_container {
    gap: 0.5rem;
    justify-content: end;
}

/* #endregion header */

/* #region main */

.row {
    justify-content: space-between;
    max-width: 100%;
}

.col_7 {
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: calc(100vh - 180px);
}

.pic {
    max-width: 100%;
    padding: 0.5rem 0.2rem;
}

.pic_box {
    position: relative;
    max-width: calc(100% / 7);
}

.mic_status {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.486);
    color: white;
    bottom: 1rem;
    left: 0;
}

/* #endregion main */

/* #region footer */

.foot_container {
    justify-content: space-between;
}

.device_menu {
    justify-content: space-between;
    width: 10%;
}

.mute {
    flex-direction: column;
    margin-left: 0.5rem;
}

.mute>i {
    font-size: 2rem;
    margin: 0.2rem;
}

.mute>div {
    font-size: 10px;
    text-align: center;
    margin: 0.2rem;
}

.action_menu {
    max-width: 90%;
    justify-content: center;
}

.end_meeting {
    color: red;
    background-color: #4a4a4a;
    width: 10%;

}