* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* #region general */
a {
    text-decoration: none;
}

#site_header {
    background-color: black;
    height: 80px;
}

#site_main {
    height: calc(100vh - 80px);
    background-color: black;
}

/* #endregion general */

/* #region utilities */
.d_flex {
    display: flex;
    justify-content: end;
}

.container {
    width: 90%;
    max-width: 1170px;
    justify-content: center;
    margin: auto;
}

/* #endregion utilities */

/* #region header */

.btn_head {
    padding: 0.2rem 0.5rem;
    background-color: #4a4a4a;
    border-radius: 0.5rem;
    color: white;
    font-size: 14px;
}

.btn_head_container {
    gap: 0.5rem;
}

/* #endregion header */

/* #region main */

.col_7 {
    justify-content: space-between;
    width: calc(100% / 7);
    flex-wrap: wrap;
}

.pic {
    max-width: 100%;
    padding: 0.5rem 0.2rem;
}